<h2>Create Quote</h2>
nombre: <input #nombre type="text" /> apellidoPaterno: <input #apellidoPaterno type="text" />
apellidoMaterno: <input #apellidoMaterno type="text" /> telefono: <input #telefono type="text" />
calle: <input #calle type="text" /> codigoPostal: <input #codigoPostal type="text" />
ciudad: <input #ciudad type="text" /> pais: <input #pais type="text" />
<button (click)="create(nombre.value, apellidoPaterno.value,apellidoMaterno.value,telefono.value,calle.value,codigoPostal.value,ciudad.value,pais.value)">AGREGAR</button>
<h1>USUARIOS</h1>
<ul>
  <li *ngFor="let user of users | async">
    {{ user.nombre }}, {{ user.telefono }} ,{{ user.ciudad }},{{ user.pais }} 
    <button (click)="delete(user._id)">ELIMINAR</button>
<button (click)="update(user._id,nombre.value, apellidoPaterno.value,apellidoMaterno.value,telefono.value,calle.value,codigoPostal.value,ciudad.value,pais.value)">EDITAR</button>

  </li>
</ul>